.rect{
    /* display: inline-flexbox */
    float: left;
    display:inline;
    
}


.rect.horizontal{
    width: 50px;
    height: 20px;
    
}

.rect.vertical{
    width: 20px;
    height: 50px;
    
}